
\.idea/compiler\.xml

\.idea/encodings\.xml

\.idea/libraries/Arconix\.xml

\.idea/libraries/EpicSpawners\.xml

\.idea/libraries/Maven__br_net_fabiozumbi12_RedProtect_7_3_0\.xml

\.idea/libraries/Maven__com_github_rlf_uSkyBlock_API_2_6_4\.xml

\.idea/libraries/Maven__com_github_TechFortress_GriefPrevention_16_7_1\.xml

\.idea/libraries/Maven__com_google_code_findbugs_jsr305_1_3_9\.xml

\.idea/libraries/Maven__com_google_code_gson_gson_2_8_0\.xml

\.idea/libraries/Maven__com_google_guava_guava_21_0\.xml

\.idea/libraries/Maven__com_googlecode_json_simple_json_simple_1_1_1\.xml

\.idea/libraries/Maven__com_intellectualcrafters_PlotSquared_18_05_01\.xml

\.idea/libraries/Maven__com_palmergames_Towny_0_92_0_0\.xml

\.idea/libraries/Maven__com_sk89q_commandbook_2_3\.xml

\.idea/libraries/Maven__com_sk89q_dummypermscompat_1_8\.xml

\.idea/libraries/Maven__com_sk89q_jchronic_0_2_4a\.xml

\.idea/libraries/Maven__com_sk89q_lib_jlibnoise_1_0_0\.xml

\.idea/libraries/Maven__com_sk89q_spigot_bukkit_classloader_check_1_8_R0_1_SNAPSHOT\.xml

\.idea/libraries/Maven__com_sk89q_worldedit_5_5_8\.xml

\.idea/libraries/Maven__com_sk89q_worldedit_worldedit_bukkit_6_1_4_SNAPSHOT\.xml

\.idea/libraries/Maven__com_sk89q_worldedit_worldedit_core_6_1_4_SNAPSHOT\.xml

\.idea/libraries/Maven__com_sk89q_worldguard_6_1_1_SNAPSHOT\.xml

\.idea/libraries/Maven__com_songoda_arconix_api_2_0_0\.xml

\.idea/libraries/Maven__com_songoda_arconix_plugin_2_0_0\.xml

\.idea/libraries/Maven__com_thoughtworks_paranamer_paranamer_2_6\.xml

\.idea/libraries/Maven__com_wasteofplastic_askyblock_3_0_8_2\.xml

\.idea/libraries/Maven__commons_io_commons_io_2_6\.xml

\.idea/libraries/Maven__commons_lang_commons_lang_2_6\.xml

\.idea/libraries/Maven__de_schlichtherle_truezip_6_8_3\.xml

\.idea/libraries/Maven__javax_persistence_persistence_api_1_0\.xml

\.idea/libraries/Maven__junit_junit_4_10\.xml

\.idea/libraries/Maven__me_markeh_factionsframework_1_2_0\.xml

\.idea/libraries/Maven__net_milkbowl_vault_VaultAPI_1_6\.xml

\.idea/libraries/Maven__net_sf_opencsv_opencsv_2_0\.xml

\.idea/libraries/Maven__org_avaje_ebean_2_8_1\.xml

\.idea/libraries/Maven__org_bukkit_bukkit_1_12_2_R0_1_SNAPSHOT\.xml

\.idea/libraries/Maven__org_hamcrest_hamcrest_core_1_1\.xml

\.idea/libraries/Maven__org_kingdoms_Kingdoms_13_3_40\.xml

\.idea/libraries/Maven__org_yaml_snakeyaml_1_19\.xml

\.idea/libraries/Maven__rhino_js_1_7R2\.xml

\.idea/libraries/spigot_1_13_1\.xml

\.idea/misc\.xml

\.idea/modules\.xml

\.idea/uiDesigner\.xml

\.idea/vcs\.xml

\.idea/workspace\.xml

EpicAnchors-API/EpicAnchors-API\.iml

EpicAnchors-Plugin/EpicAnchors-Plugin\.iml

EpicAnchors-Plugin/target/classes/en_US\.lang

EpicAnchors-Plugin/target/classes/plugin\.yml

EpicAnchors\.iml

out/production/EpicAnchors-Plugin/en_US\.lang

out/production/EpicAnchors-Plugin/plugin\.yml

target/classes/com/songoda/epicanchors/anchor/EAnchor\.class

target/classes/com/songoda/epicanchors/anchor/EAnchorManager\.class

target/classes/com/songoda/epicanchors/anchor/ELevel\.class

target/classes/com/songoda/epicanchors/anchor/ELevelManager\.class

target/classes/com/songoda/epicanchors/api/anchor/Anchor\.class

target/classes/com/songoda/epicanchors/api/anchor/AnchorManager\.class

target/classes/com/songoda/epicanchors/api/anchor/Level\.class

target/classes/com/songoda/epicanchors/api/anchor/LevelManager\.class

target/classes/com/songoda/epicanchors/api/EpicAnchors\.class

target/classes/com/songoda/epicanchors/api/EpicAnchorsAPI\.class

target/classes/com/songoda/epicanchors/command/AbstractCommand\.class

target/classes/com/songoda/epicanchors/command/CommandManager\.class

target/classes/com/songoda/epicanchors/command/commands/CommandEpicAnchors\.class

target/classes/com/songoda/epicanchors/command/commands/CommandGive\.class

target/classes/com/songoda/epicanchors/command/commands/CommandReload\.class

target/classes/com/songoda/epicanchors/EpicAnchorsPlugin\.class

target/classes/com/songoda/epicanchors/events/BlockListeners\.class

target/classes/com/songoda/epicanchors/events/InteractListeners\.class

target/classes/com/songoda/epicanchors/events/InventoryListeners\.class

target/classes/com/songoda/epicanchors/handlers/AnchorHandler\.class

target/classes/com/songoda/epicanchors/handlers/MenuHandler\.class

target/classes/com/songoda/epicanchors/Locale\.class

target/classes/com/songoda/epicanchors/References\.class

target/classes/com/songoda/epicanchors/utils/Methods\.class

target/classes/com/songoda/epicanchors/utils/SettingsManager\.class

target/classes/com/songoda/epicanchors/utils/SettingsManager\$settings\.class

target/classes/en_US\.lang

target/classes/plugin\.yml

\.idea/libraries/Lib\.xml

\.idea/libraries/Lib1\.xml

target/classes/com/songoda/epicanchors/api/utils/ClaimableProtectionPluginHook\.class

target/classes/com/songoda/epicanchors/api/utils/ProtectionPluginHook\.class

target/classes/com/songoda/epicanchors/hooks/HookASkyBlock\.class

target/classes/com/songoda/epicanchors/hooks/HookFactions\.class

target/classes/com/songoda/epicanchors/hooks/HookGriefPrevention\.class

target/classes/com/songoda/epicanchors/hooks/HookKingdoms\.class

target/classes/com/songoda/epicanchors/hooks/HookPlotSquared\.class

target/classes/com/songoda/epicanchors/hooks/HookRedProtect\.class

target/classes/com/songoda/epicanchors/hooks/HookTowny\.class

target/classes/com/songoda/epicanchors/hooks/HookUSkyBlock\.class

target/classes/com/songoda/epicanchors/hooks/HookWorldGuard\.class
